<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
    <title>Home - Movie Recommendation 🎬</title>
</head>
<body>
    <div class="container">
        <div class="menu-bar">
            <h2>Movify</h2>
            <ul>
                <li><a href="{{ url_for('main_routes.home') }}">Home</a></li>
                <li><a href="{{ url_for('main_routes.profile') }}">Profile</a></li>
                <li><a href="{{ url_for('main_routes.wishlist') }}">Wishlist</a></li>
                <li><a href="{{ url_for('main_routes.home') }}">Settings</a></li>
                <li><a href="{{ url_for('api.signout') }}">Sign Out</a></li>
                <li>
                    <button id="theme-toggle" onclick="toggleTheme()">🌙</button> <!-- Moon emoji for dark mode -->
                </li>
            </ul>
        </div>

        <div class="content">
            <div class="welcome-section">
                <h1>Welcome to the Movie App</h1>
                <p>Find your favorite movies!</p>
                <div class="search-panel">
                    <input type="text" id="search-bar" placeholder="Search for a movie...">
                    <button>Search</button>
                </div>
            </div>
            </div>

            <div class="options">
                <button onclick="showGenres()">Search by Genre</button>
                <button onclick="location.href='{{ url_for('main_routes.recommendation') }}'">Get Recommendations</button>
            </div>

            <h1>Trending Movies</h1>
            <div class="movie-list">
                {% for movie in trending_movies %}
                    <div class="movie-item" onclick="location.href='{{ url_for('main_routes.movie_details', movie_id=movie.id) }}'">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                        <h4>{{ movie.title }}</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer>
        <p>About: CoderChic 💻</p>
        <p>Support: vrushalikarlekar2@gmail.com 📧</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
