<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database - Login/Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form id="login-form" class="form active" action="/login" method="POST">
                <!-- Display Flash Messages -->
                <div class="flash-messages" id="flash-messages">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <h2>Login</h2>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit">Login</button>
                <p>Don't have an account? <a href="#" id="switch-to-register">Register here</a></p>
            </form>
            <form id="register-form" class="form" action="/register" method="POST">
                <h2>Register</h2>
                
                <!-- Display Flash Messages -->
                <div class="flash-messages" id="flash-messages-register">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" placeholder="Confirm Password" required>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit">Register</button>
                <p>Already have an account? <a href="#" id="switch-to-login">Login here</a></p>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>